.f29__input {
  width: var(--input-size);
  /* background-color: brown; */
}

.f29__input--md {
  width: calc(var(--input-size) * 0.3);
}

.f29__input,
.f29__input--md {
  border: 1px solid var(--f29-secondary-color);
  background-color: var(--f29-primary-color-ligther);
  text-align: right;
}

.f29__input:focus,
.f29__input--md:focus {
  outline: 0;
  border: 1px solid var(--f29-primary-color-darker);
}

.f29__input:hover,
.f29__input--md:hover {
  border: 1px solid var(--f29-primary-color);
}

.f29__input:disabled {
  background-color: var(--f29-secondary-color);
}

.f29__input-wrapper {
  width: var(--input-size);
}