@import 'f29/base.css';
@import 'f29/seccion.css';
@import 'f29/input.css';

.f29__header {
    width: 100%;
    max-width: var(--max-w);
    display: flex;
    justify-content: space-around;
    align-items: stretch;
}

.f29__header__item {
    flex-basis: 25%;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.f29__header__item > table {
    flex-grow: 1;
}

.celda-codigo {
    background-color: var(--f29-primary-color);
}

.celda-linea, .celda-signo {
    background-color: var(--f29-secondary-color);
}

.celda-codigo,
.celda-linea,
.celda-signo {
    width: 26px;
    text-align: center;
}

.f29__fila-vacia {
    height: 2rem;
}

.f29-wrapper {
    height: 65vh;
    width: 90%;
    overflow-y: scroll;
    overflow-x: scroll;
    margin: 0 auto;
}

.f29__info__header {
    background-color: var(--f29-primary-color);
}
